---
layout: default
title: MN Ballroom Blast!
base_url: './'
---

<div class="banner">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-lg-4">
        <div class="logo">
          <img src="{{ page.base_url }}img/logo-shine-light.png" alt="Minnesota Ballroom Blast">
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-lg-8">
        <p class="lead">Just like a dance competition, <strong>but</strong> instead of being judged, you receive a concise critique of your dancing written by experienced ballroom professionals.</p>
      </div>
    </div>
  </div>
</div>
<p>&nbsp;</p>

<div class="container">
  <div class="row">
    <div class='clearfix col-xs-12'>
      <p class="lead"><strong>Thanks for joining us!</strong> <br>
      We had a ton of fun with you at Blast 2015! We'll see you at <a href="http://udancefest.com">Dance Fest</a> and Blast 2016!
      </p>
      <p class="lead">
        In the meantime, <a href='http://facebook.com/ballroomblast'>stay in touch with us on facebook</a> and make sure you <a href='http://flickr.com/photos/ballroomblast'>check out all the incredible high-res photos from blast on flickr</a>.
      </p>
      <hr>
    </div>
  </div>
  <div class="row comp-meta">
    <div class='clearfix col-xs-12 col-sm-6'>
      <i class='icon-calendar'></i>
      <h3>Happening:</h3>
      <p>22 October 2016<br><small>(That's a Saturday)</small></p>
    </div>
    <div class='clearfix col-xs-12 col-sm-6'>
      <i class='icon-map-marker'></i>
      <h3>Here:</h3>
      {% include address.html %}
    </div>
    <div class='clearfix col-xs-12 col-sm-6'>
      <i class='icon-question'></i>
      <h3>Newcomer?</h3>
      <p>New to ballroom competitions? Check out our <a href="{{ page.base_url }}guide">friendly guide</a>.</p>
    </div>
    <div class='clearfix col-xs-12 col-sm-6'>
      <i class='icon-thumbs-up-alt'></i>
      <h3>Pumped for Blast?</h3>
      <p>You'll probably love <a href="http://udancefest.com">Dance Fest</a> too.</p>
    </div>
  </div>
</div>

<div class="container">
  <div class="row"><div class="col-xs-12"><hr></div></div>

  <!-- <div class='row get-involved push'>
    <div class="col-xs-12">
      <h1 class='push'>Get Involved!</h1>
    </div>
    <div class="col-xs-12 col-sm-6">
      <a href='{{ page.base_url }}register' class='btn btn-huge btn-blue-bubble btn-block push'>Register</a>
    </div>
    <div class="col-xs-12 col-sm-6">
      <a href='{{ page.base_url }}spectate' class='btn btn-huge btn-blue-bubble btn-block'>Spectate</a>
    </div>
  </div> -->
</div>

<div class="container">
  {% include schedule.html %}
  <div class="row">
    <div class='col-xs-12'>
      <h2>Here's What to Expect:</h2>
      <p class='lead'>
        All day, dancers perform ballroom and latin dances in the format of a dance competition and receive feedback from experienced ballroom professionals.
      </p>
      <h2>Costumes Encouraged!</h2>
      <p class='lead'>
        Come to the evening session of Minnesota Ballroom Blast and enjoy a wonderful evening of social dancing. In addition to the opportunity to dance with many participants from around the Upper Midwest, there will be food, games, merriment, and a showcase of national championship-level talent. To top off a wonderful evening, a costume contest will be held with prizes in various categories. Don't miss out!
      </p>
      <p class='lead'>
        Tickets are available for $5 at the door the day of the event.
      </p>
    </div>
  </div>
</div>

