---
layout: default
title: "Register"
slug: register
base_url: "../"
---

<div class="container register">
  <div class="row">
    <div class="col-xs-12">
      <h1>Register Now!</h1>
      <p class="lead">Please read this page first, so you understand your registration options and limitations, then follow the link below.</p>
      <p class="lead">Have a question or having trouble registering? Email us: <a href="mailto:info@upartnerdance.org">info@upartnerdance.org</a>.</p>
      <a class="btn btn-huge btn-blue-bubble btn-block push" href="https://verseng.com/blast/register">Register Here</a>
      <p class="lead">Registration closes at 11:59 p.m. on October 15th.</p>
    </div>
  </div>
  <div class="row"><div class="col-xs-12"><hr></div></div>

  <div class="row">
    <div class="col-xs-12">
      <h1>Confused?</h1>
      <p class="lead">If we lose you anywhere, our <a href="{{ page.base_url }}guide">friendly guide for newcomers</a> may be useful.</p>
    </div>
  </div>
  <div class="row"><div class="col-xs-12"><hr></div></div>

  <div class="row">
    <div class="col-xs-12">
      <h1>What can I enter? What's it cost?</h1>
      <p class="lead">
        For amateur couples, we offer <strong>5</strong> levels: <strong>Newcomer</strong>, <strong>Bronze</strong>, <strong>Advanced Bronze</strong>, <strong>Silver</strong>, and <strong>Gold/Open</strong>. For mixed proficiency couples, there is only <strong>1</strong> level. In all amateur levels and MP, we offer these single-dance events:
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <table class='table table-bordered table-striped table-hover'>
        <thead>
          <tr>
            <th>Smooth</th>
            <th>Standard</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <ul class='icons-ul'>
                <li><i class="icon-li icon-ok-sign"></i>Waltz</li>
                <li><i class="icon-li icon-ok-sign"></i>Tango</li>
                <li><i class="icon-li icon-ok-sign"></i>Foxtrot</li>
                <li><i class="icon-li icon-ok-sign"></i>Viennese Waltz</li>
              </ul>
            </td>
            <td>
              <ul class='icons-ul'>
                <li><i class="icon-li icon-ok-sign"></i>Waltz</li>
                <li><i class="icon-li icon-ok-sign"></i>Tango</li>
                <li><i class="icon-li icon-ok-sign"></i>Viennese Waltz</li>
                <li><i class="icon-li icon-ok-sign"></i>Foxtrot</li>
                <li><i class="icon-li icon-ok-sign"></i>Quickstep</li>
              </ul>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="col-xs-12 col-sm-6">
      <table class='table table-bordered table-striped table-hover'>
        <thead>
          <tr>
            <th>Rhythm</th>
            <th>Latin</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <ul class='icons-ul'>
                <li><i class="icon-li icon-ok-sign"></i>Cha Cha</li>
                <li><i class="icon-li icon-ok-sign"></i>Rumba</li>
                <li><i class="icon-li icon-ok-sign"></i>Swing</li>
                <li><i class="icon-li icon-ok-sign"></i>Bolero</li>
                <li><i class="icon-li icon-ok-sign"></i>Mambo</li>
              </ul>
            </td>
            <td>
              <ul class='icons-ul'>
                <li><i class="icon-li icon-ok-sign"></i>Samba</li>
                <li><i class="icon-li icon-ok-sign"></i>Cha Cha</li>
                <li><i class="icon-li icon-ok-sign"></i>Rumba</li>
                <li><i class="icon-li icon-ok-sign"></i>Paso Doble</li>
                <li><i class="icon-li icon-ok-sign"></i>Jive</li>
              </ul>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <h3>Pricing</h3>

      <p class='lead'>The short version: $40 per person for up to eight entries or $8 per person for each entry.</p>

      <p class='push'>The registration form will calculate a price for you, but here's the gist:</p>

      <ul class='icons-ul'>
        <li><i class='icon-li icon-usd'></i>Competitor package: up to 8 amateur event entries for $40 per person. Includes admission to both sessions.</li>
        <li><i class='icon-li icon-usd'></i>Individual event entries are $8 per person.</li>
        <li><i class='icon-li icon-usd'></i>All competitors get admission to the day session for free.</li>
        <li><i class='icon-li icon-usd'></i>Your first mixed proficiency event is free; additional MP entries are $8 each.</li>
        <li><i class='icon-li icon-usd'></i>MP events are always free for the more proficient partner.</li>
        <li><i class='icon-li icon-usd'></i>Spectator admission to the ballroom is $5 per session (there are 2 sessions).</li>
      </ul>
    </div>
    <div class="col-xs-12 col-sm-6">
      <h3>Limits</h3>
      <p class='lead'>
        Here's how your entries are limited:
      </p>
      <ul class='icons-ul'>
        <li><i class='icon-li icon-ban-circle'></i>Each person may enter any event only once.</li>
        <li><i class='icon-li icon-ban-circle'></i>Each person may enter up to 8 amateur events.</li>
        <li><i class='icon-li icon-ban-circle'></i>You may only dance 1 mixed proficiency event with a given partner.</li>
        <li><i class='icon-li icon-ban-circle'></i>You may not dance mixed proficiency and amateur with the same partner.</li>
      </ul>
    </div>
  </div>

  {% include travel-advice.html %}
  <!-- <div class="row">
    <div class="col-xs-12">
      <hr>
      <h4 class='text-muted'>Just a reminder:</h4>
    </div>
  </div> -->
  {% include schedule.html %}

</div>
