---
layout: default
title: "Spectate"
slug: spectate
base_url: "../"
---

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1>Spectate!</h1>

      <p class='lead'>Come for the day session and watch great dancing or cheer on family and friends! In the evening session, participate in social dancing at the Halloween Ball (costumes encouraged!) and enjoy a showcase of national championship-level talent.</p>

      <p class='push'>Tickets are $5 per session and available with cash at the door the day of the event.</p>
    </div>
  </div>

  <div class="row"><div class="col-xs-12"><hr></div></div>

  {% include travel-advice.html %}
<!--   <div class="row">
    <div class="col-xs-12">
      <hr>
      <h4 class='text-muted'>Just a reminder:</h4>
    </div>
  </div>
 -->  {% include schedule.html %}
</div>
