---
layout: default
title: "Spectate"
slug: spectate
base_url: "../"
---

<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>Spectate!</h1>
      
      <p class='lead'>Come for the day session and watch great dancing or cheer on family and friends! In the evening session, participate in games and social dancing, and enjoy a showcase of national championship-level talent.</p>
      
      <p class='push'>Tickets are $5 per session. Buy them online or with cash at the door the day of the event.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-6 push">
      <a href="http://www.verseng.com/-/blast/2013/spectate" class='btn btn-blue-bubble btn-huge btn-block'>Buy Tickets Online</a>
    </div>
  </div>

  <div class="row"><div class="col-12"><hr></div></div>
  
  {% include travel-advice.html %}
  <div class="row">
    <div class="col-12">
      <hr>
      <h4 class='text-muted'>Just a reminder:</h4>
    </div>
  </div>
  {% include schedule.html %}
</div>
