<div class="mission">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h2>Minnesota Ballroom Blast is</h2>
        <p class='lead'>low-stress, feedback-based, and designed to:</p>
        <hr>
        <ul class='icons-ul lead'>
          <li><i class='icon-li icon-ok-circle'></i>Provide social dancers and competitors alike with meaningful feedback from professionals they might not otherwise have access to</li>
          <li><i class='icon-li icon-ok-circle'></i>Introduce beginners to the general format of a competition in a low-chaos environment</li>
          <li><i class='icon-li icon-ok-circle'></i>Provide a preparatory event for those looking to compete</li>
          <li><i class='icon-li icon-ok-circle'></i>Allow couples to experiment with new choreography and costuming</li>
        </ul>
      </div>
    </div>
  </div>
</div>