<div class="row schedule">
  <div class="col-12">
    <h1>Schedule</h1>
  </div>
</div>
<div class="row schedule">
  <div class="col-12 col-sm-6">
    <a href="{{ page.base_url }}files/program.pdf" class='btn btn-blue-bubble btn-huge btn-block push'>Download the Program</a>
  </div>
</div>
<div class="row schedule">
  <div class="col-12 col-sm-6">
    <h3>Day Session</h3>
    <table class='table table-striped table-hover'>
      <tr>
        <th>9 AM:</th>
        <td>Doors Open</td>
      </tr>
      <tr>
        <th>10 AM:</th>
        <td>Rhythm and Latin</td>
      </tr>
      <tr>
        <th>12:30 AM:</th>
        <td>Fun Dances, Jack and Jill, Games!</td>
      </tr>
      <tr>
        <th>1 PM:</th>
        <td>Lunch Break</td>
      </tr>
      <tr>
        <th>2 PM:</th>
        <td>Smooth and Standard</td>
      </tr>
      <tr>
        <th>4:30 PM:</th>
        <td>Fun Dances, Jack and Jill, Games!</td>
      </tr>
      <tr>
        <th>5:00 PM:</th>
        <td>Dinner Break</td>
      </tr>

    </table>
  </div>
  <div class="col-12 col-sm-6">
    <h3>Evening Session</h3>
    <table class='table table-striped table-hover'>
      <tr>
        <th>6:30 PM:</th>
        <td>Evening Show, Performances, General Dancing, Games!</td>
      </tr>
      <tr>
        <th>10:00 PM:</th>
        <td>
          End of Event. See you at Star of the North on March 1st and 2nd, 2014!
        </td>
      </tr>
    </table>
  </div>
</div>